#balance-wheel {
  animation: four-step-rotate 4s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  transform-origin: 50% 50%;
}

@keyframes four-step-rotate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  35% {
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(180deg);
  }
  65% {
    transform: rotate(270deg);
  }
  75% {
    transform: rotate(270deg);
  }
  85% {
    transform: rotate(270deg);
  }
  90% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


#small-dots {
  animation: anticlockwise-rotate 10s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes anticlockwise-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

#circle-strip {
  animation: four-step-rotate 30s linear infinite;
}

@keyframes clockwise-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#tick-dots, #medium-dots, #tick-marker {
  animation: clockwise-rotate 60s linear infinite;
}
