:root {
  --breakpoint-xs: 576px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1400px;
  --color-text: rgba(255, 255, 255, 0.9);
  --color-you: hsla(0, 0%, 0%, 62.5%);
}

/* Classes */
body {
  color: var(--color-text);
  margin: 0;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  user-select: none;
}

.background {
  width: 100vw;
  height: 100dvh;
}

.ui_container {
  position: fixed;
  height: 100%;
  width: 100%;
  max-width: var(--breakpoint-sm);
  z-index: 2;
  display: flex;
  flex-direction: column;
  transition: all 0.5s linear;
}

.question_container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 4rem 2rem;
  gap: 0.5rem;
  transition: inherit;
}

.question_option {
  position: relative;
  border: none;
  border-radius: 1rem 0 1rem 0;
  background: linear-gradient(
    rgba(151, 150, 240, 0.25),
    rgba(251, 199, 212, 0.25)
  );
  color: inherit;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 100%; */
    /* height: 100%; */
    border-radius: 1rem 0 1rem 0;
    background: linear-gradient(
      rgba(151, 150, 240, 0.5),
      rgba(251, 199, 212, 0.5)
    );
    opacity: 0;
    z-index: -1;
    transition: all 0.25s linear;
  }
  &:hover::after,
  &:focus::after {
    opacity: 1;
  }
  &:hover,
  &:focus {
    color: white;
  }
}

.upper_container {
  flex-grow: 1;
}

.character_container {
  width: 100%;
  height: 100%;
  position: relative;
}

.you {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  z-index: 1;
  color: var(--color-you);
  transition: all 0.5s linear;
}

.situation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  transform: scaleX(-1);
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.situation_1 {
  top: 0;
  right: 0;
}

.situation_2 {
  top: -5%;
  right: -10%;
}

.situation_background {
  width: 100%;
  height: 100%;
  filter: blur(3px) contrast(0.8) brightness(0.8);
  transform: scaleX(1);
  z-index: 0;
}

.splash_container {
  justify-content: center;
  color: var(--color-text);
}

.game_title {
  margin: 0;
  font-weight: bold;
}

.game_subtitle {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: lighter;
}

.splash_button {
  margin-top: 2.5rem;
  border-radius: 1rem;
  &::after {
    border-radius: 1rem;
  }
}

.effect_container {
  display: none;
  width: 100vw;
  height: 100dvh;
  justify-content: center;
  color: var(--color-text);
}

.result_you {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-self: center;
  justify-self: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  z-index: 1;
  color: var(--color-you);
  transition: all 0.5s linear;
}

.result_background_paper_container,
.result_background_paper_roll_container,
.result_background_magic_circle_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.result_background_paper_container {
  width: 100%;
}

.result_background_magic_circle_container {
  align-self: center;
  justify-self: center;
  mix-blend-mode: darken;
  filter: opacity(75%);
  width: 80%;
  height: 90%;
}

.result_ui_container {
  display: flex;
  justify-content: space-between;
  color: #665a55;

  h1 {
    font-weight: 900;
    margin: 0;
  }
  h2 {
    font-size: 1.25rem;
    font-weight: 900;
    margin: 0;
  }
  h3 {
    font-size: 1rem;
    font-weight: 900;
    margin: 0;
  }
  p {
    font-size: 0.75rem;
    font-weight: 600;
    margin: 0;
  }
}

.result_summary_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20% 20% 0 20%;
  filter: drop-shadow(0 0 1rem #ffffff) drop-shadow(0 0 2rem #ffffff);
}

.result_detail_container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 20% 20% 20%;
  filter: drop-shadow(0 0 1rem #ffffff) drop-shadow(0 0 2rem #ffffff);
}

.result_detail_item_container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0.5rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
}
h2 {
  font-size: 1.5rem;
  text-align: center;
}
h3 {
  font-size: 1.25rem;
  text-align: center;
}
p {
  font-size: 1rem;
  margin: 0.5rem;
}